html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,*::before,*::after {box-sizing: inherit;}

body {
  overscroll-behavior-y: contain;
  background-color: black;
  margin: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

body, h1, h2, h3, h4, h5, h6, p {margin: 0;}

canvas {
  object-fit: contain;
  width: 100%;
  height: 100%;
}